.timing {
  margin-bottom: 100px;
}
.timing__wrapper {
  display: flex;
  flex-direction: column;
}
.timing__title {
  margin: 0 0 100px 50px;
  align-items: start;
  position: relative;
  opacity: 0;
  transition: all 1s linear;
  &:after {
    content: "";
    position: absolute;
    background-image: url("../../assets/paint.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px; /* Укажите нужные размеры */
    height: 100px;
    bottom: -37px; /* Позиционирование относительно h2 */
    left: -17px;
    z-index: -1;
    opacity: 0;
    transition: all 0.7s linear;
    transform: translateX(-25px);
  }
}
.timing.visible .timing__title::after {
  opacity: 1;
  transform: translateX(0);
}
.timing.visible .timing__title {
  opacity: 1;
  transition-delay: 0.25;
}
.image__punct {
  width: 35px;
  height: 35px;
}
.timing__list {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
}
.timing__list li:nth-child(odd) img {
  transform: rotate(-10deg);
}
.timing__list li:nth-child(even) img {
  transform: rotate(10deg);
}
.timing__list-item {
  margin-bottom: 40px;
  opacity: 0;
  transition: all 0.7s linear;
  transform: translateY(10px);
}
.item__text {
  opacity: 0;
  transition: all 0.7s linear;
  transform: translateY(10px);
}
.timing.visible .timing__list-item:first-child {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.35;
}
.timing.visible .timing__list-item:first-child .item__text {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.4;
}
.timing.visible .timing__list-item:nth-child(2) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.55;
}
.timing.visible .timing__list-item:nth-child(2) .item__text {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.6;
}
.timing.visible .timing__list-item:nth-child(3) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.55;
}
.timing.visible .timing__list-item:nth-child(3) .item__text {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.6;
}
.timing.visible .timing__list-item:nth-child(4) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.55;
}
.timing.visible .timing__list-item:nth-child(4) .item__text {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.6;
}
.timing.visible .timing__list-item:nth-child(5) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.55;
}
.timing.visible .timing__list-item:nth-child(5) .item__text {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.6;
}
.timing.visible .timing__list-item:nth-child(6) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.55;
}
.timing.visible .timing__list-item:nth-child(6) .item__text {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.6;
}
.item__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item__title-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.item__title {
  font-size: 28px;
  margin: 3px 0 0 10px;
}
.item__text {
  margin-left: 50px;
  text-align: center;
  max-width: 350px;
}
@media (max-width: 720px) {
  .item__title {
    font-size: 24px;
  }
  .item__text {
    margin-left: 50px;
    max-width: 300px;
  }
  .image__punct {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 610px) {
  .timing__title {
    margin: 0 0 75px 25px;
    &:after {
      bottom: -37px;
      left: -30px;
    }
  }
  .item__title {
    font-size: 20px;
    max-width: 270px;
    text-align: center;
  }
  .item__text {
    margin-left: 50px;
    max-width: 300px;
  }
  .image__punct {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 610px) {
  .item__title {
    font-size: 18px;
    max-width: 270px;
    text-align: center;
  }
  .timing__list-item:first-child .image__punct {
    margin-top: 20px;
  }
  .timing__list-item:nth-child(2) .image__punct {
    margin-top: 20px;
  }
  .timing__list-item:nth-child(4) .image__punct {
    margin-top: 20px;
  }
}
