.header {
  margin-top: 100px;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__content {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
.header__bride-cloud {
  position: relative;
  text-align: center;
  &:before {
    font-family: Blushes, sans-serif;
    content: "Интересно, кто будет моим мужем, когда я вырасту?";
    position: absolute;
    max-width: 165px;
    top: -145px;
    left: -40px;
  }
}
.image__cloud {
  position: absolute;
  top: -200px;
  left: -85px;
  max-width: 240px;
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: drop-shadow(-5px 5px 6px rgba(0, 0, 0, 0.9));
}

.header__bride-container {
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 10px 10px 55px 10px;
  box-shadow: 5px 5px 20px gray;
  transform: rotate(-3deg);
  margin-bottom: 75px;
  &:before {
    content: "";
    position: absolute;
    width: 80px;
    height: 40px;
    background-color: #ffffff;
    transform: rotate(-50deg);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.7);
    left: -30px;
    top: -3px;
  }
  &:after {
    content: "";
    position: absolute;
    width: 80px;
    height: 40px;
    background-color: #ffffff;
    transform: rotate(-140deg);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.7);
    left: -30px;
    bottom: -15px;
  }
}
.header__img-groom {
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 10px 10px 55px 10px;
  box-shadow: -5px 5px 20px gray;
  transform: rotate(3deg);
  margin-top: 350px;
  &:after {
    content: "Им буду я!";
    font-family: Blushes, sans-serif;
    position: absolute;
    bottom: 17px;
  }
}
.corner {
  width: 80px;
  height: 45px;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.5);
}
.corner-1 {
  top: -15px;
  right: -25px;
  transform: rotate(40deg);
}
.corner-2 {
  bottom: -20px;
  right: -30px;
  transform: rotate(-220deg);
}
.image__groom-text {
  margin-top: 10px;
}
.image__bride,
.image__groom {
  max-width: 250px;
}
.header__title {
  margin-top: 75px;
  font-size: 28px;
  line-height: 32px;
}
@media (max-width: 750px) {
  .image__bride,
  .image__groom {
    max-width: 200px;
  }
  .header__img-groom {
    margin-top: 200px;
  }
  .image__cloud {
    max-width: 170px;
    top: -140px;
    left: -40px;
  }
  .header__bride-cloud {
    &:before {
      font-size: 14px;
      line-height: 16px;
      max-width: 150px;
      top: -103px;
      left: -30px;
    }
  }
  .header__img-groom {
    &:after {
      font-size: 14px;
      line-height: 16px;
      bottom: 20px;
    }
  }
  .header__img-groom {
    padding: 10px 10px 50px 10px;
  }
}
@media (max-width: 540px) {
  .header__content {
    margin-top: 25px;
  }
  .image__bride,
  .image__groom {
    max-width: 130px;
  }
  .header__img-groom {
    margin-top: 75px;
  }
  .image__cloud {
    max-width: 140px;
    top: -115px;
    left: -40px;
  }
  .header__bride-cloud {
    &:before {
      font-size: 12px;
      line-height: 14px;
      max-width: 105px;
      top: -90px;
      left: -22px;
    }
  }
  .header__img-groom {
    &:after {
      font-size: 14px;
      line-height: 16px;
      bottom: 11px;
    }
  }
  .header__img-groom {
    padding: 10px 10px 35px 10px;
  }
  .corner {
    width: 50px;
    height: 30px;
  }
  .corner-1 {
    top: -10px;
    right: -17px;
  }
  .corner-2 {
    bottom: -10px;
    right: -17px;
  }
  .header__bride-container {
    padding: 10px 10px 35px 10px;
    &:before {
      width: 50px;
      height: 30px;
      left: -23px;
      top: -7px;
    }
    &:after {
      width: 50px;
      height: 30px;
      box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.7);
      left: -17px;
      bottom: -10px;
    }
  }
  .header__title {
    margin-top: 65px;
    font-size: 26px;
    line-height: 28px;
  }
}
@media (max-width: 400px) {
  .header__content {
    gap: 0;
  }
  .header__title {
    margin-top: 65px;
    font-size: 24px;
    line-height: 26px;
  }
}
@media (max-width: 380px) {
  .header__content {
    margin: 175px 0 125px 0;
    position: relative;
  }
  .header__img-bride {
    position: absolute;
    right: -20px;
  }
  .header__img-groom {
    position: absolute;
    left: -20px;
  }
  .header__title {
    margin-top: 65px;
    font-size: 24px;
    line-height: 26px;
  }
  .image__cloud {
    max-width: 130px;
    top: -105px;
    left: -30px;
  }
  .header__bride-cloud {
    &:before {
      font-size: 12px;
      line-height: 12px;
      max-width: 105px;
      top: -80px;
      left: -18px;
    }
  }
}
@media (max-width: 320px) {
  .header__img-bride {
    position: absolute;
    right: -30px;
  }
  .header__img-groom {
    position: absolute;
    left: -30px;
    margin-top: 150px;
  }
  .header__title {
    margin-top: 75px;
  }
}
