.dress {
  margin-bottom: 100px;
}
.dress__wrapper {
  display: flex;
  flex-direction: column;
}
.dress__title {
  margin: 0 110px 100px 0;
  text-align: right;
  position: relative;
  opacity: 0;
  transition: all 1s linear;
  &:after {
    content: "";
    position: absolute;
    background-image: url("../../assets/paint.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px; /* Укажите нужные размеры */
    height: 100px;
    bottom: -25px; /* Позиционирование относительно h2 */
    right: -5px;
    z-index: -1;
    opacity: 0;
    transition: all 1s linear;
    transform: translateX(25px);
  }
}
.dress.visible .dress__title::after {
  opacity: 1;
  transform: translateX(0);
}
.dress.visible .dress__title {
  opacity: 1;
  transition-delay: 0.25s;
}
.dress__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dress__code-women,
.dress__code-men {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dress_content-text {
  margin-bottom: 50px;
  max-width: 450px;
  text-align: center;
  opacity: 0;
  transition: all 0.7s linear;
  transform: translateY(10px);
}
.dress.visible .dress_content-text {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.35s;
}
.woomen__title {
  margin-bottom: 50px;
  opacity: 0;
  transition: all 1.2s linear;
  transform: translateY(10px);
}
.dress.visible .woomen__title {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.45s;
}
.men__title {
  margin: 50px 0;
  opacity: 0;
  transition: all 1.2s linear;
  transform: translateY(10px);
}
.dress.visible .men__title {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1.45s;
}
.women__colors,
.men__colors {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  gap: 15px;
}
.women__colors-item {
  opacity: 0;
  transition: all 1.2s linear;
}
.women__colors-item:nth-child(1),
.women__colors-item:nth-child(2) {
  transform: translateX(-50px);
}
.women__colors-item:nth-child(4),
.women__colors-item:nth-child(5) {
  transform: translateX(50px);
}
.dress.visible .women__colors-item:nth-child(1) {
  opacity: 1;
  transition-delay: 0.55s;
  transform: translateX(0);
}
.dress.visible .women__colors-item:nth-child(2) {
  opacity: 1;
  transition-delay: 0.65s;
  transform: translateX(0);
}
.dress.visible .women__colors-item:nth-child(4) {
  opacity: 1;
  transition-delay: 0.55s;
  transform: translateX(0);
}
.dress.visible .women__colors-item:nth-child(5) {
  opacity: 1;
  transition-delay: 0.65s;
  transform: translateX(0);
}
.dress.visible .women__colors-item:nth-child(3) {
  opacity: 1;
  transition-delay: 0.75s;
}
.img__color {
  width: 100px;
  height: 100px;
}
.women__examples {
  margin-bottom: 50px;
}
.women__examples,
.men__examples {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-items: center;
}
.women__examples li:nth-child(-n + 3),
.men__examples li:nth-child(-n + 3) {
  grid-row: 1;
}
.women__examples li:nth-child(n + 4),
.men__examples li:nth-child(n + 4) {
  grid-row: 2;
}
.women__examples li:nth-child(4),
.men__examples li:nth-child(4) {
  grid-column: 2;
  transform: translateX(-53%);
}

.women__examples li:nth-child(5),
.men__examples li:nth-child(5) {
  grid-column: 2;
  transform: translateX(53%);
}
.women__dress-item {
  opacity: 0;
  transition: all 1.2s linear;
}
.dress.visible .women__dress-item:nth-child(1) {
  opacity: 1;
  transition-delay: 1.2s;
}
.dress.visible .women__dress-item:nth-child(2) {
  opacity: 1;
  transition-delay: 1.4s;
}
.dress.visible .women__dress-item:nth-child(3) {
  opacity: 1;
  transition-delay: 1.6s;
}
.dress.visible .women__dress-item:nth-child(4) {
  opacity: 1;
  transition-delay: 2s;
}
.dress.visible .women__dress-item:nth-child(5) {
  opacity: 1;
  transition-delay: 1.8s;
}
.img__women {
  max-width: 300px;
  max-height: 400px;
}
.img__men {
  max-width: 300px;
  max-height: 350px;
}
.women__dress-item,
.men__dress-item {
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 10px 10px 55px 10px;
  box-shadow: -5px 5px 20px gray;
  border-radius: 10px;
}
.men__colors-item {
  opacity: 0;
  transition: all 1.2s linear;
}
.men__colors-item:nth-child(1),
.men__colors-item:nth-child(2) {
  transform: translateX(-50px);
}
.men__colors-item:nth-child(3),
.men__colors-item:nth-child(4) {
  transform: translateX(50px);
}
.dress.visible .men__colors-item:nth-child(1) {
  opacity: 1;
  transition-delay: 2.2s;
  transform: translateX(0);
}
.dress.visible .men__colors-item:nth-child(2) {
  opacity: 1;
  transition-delay: 2.4s;
  transform: translateX(0);
}
.dress.visible .men__colors-item:nth-child(3) {
  opacity: 1;
  transition-delay: 2.4s;
  transform: translateX(0);
}
.dress.visible .men__colors-item:nth-child(4) {
  opacity: 1;
  transition-delay: 2.2s;
  transform: translateX(0);
}
.men__dress-item {
  opacity: 0;
  transition: all 1.2s linear;
}
.dress.visible .men__dress-item:nth-child(1) {
  opacity: 1;
  transition-delay: 2.6s;
}
.dress.visible .men__dress-item:nth-child(2) {
  opacity: 1;
  transition-delay: 2.8s;
}
.dress.visible .men__dress-item:nth-child(3) {
  opacity: 1;
  transition-delay: 3s;
}
.dress.visible .men__dress-item:nth-child(4) {
  opacity: 1;
  transition-delay: 3.4s;
}
.dress.visible .men__dress-item:nth-child(5) {
  opacity: 1;
  transition-delay: 3.2s;
}
@media (max-width: 870px) {
  .dress__title {
    margin: 0 50px 75px 0;
  }
  .img__women {
    max-height: 250px;
  }
  .img__men {
    max-height: 250px;
  }
  .women__dress-item,
  .men__dress-item {
    padding: 5px 5px 35px 10px;
  }
  .img__color {
    width: 75px;
    height: 75px;
  }
}
@media (max-width: 640px) {
  .women__examples,
  .men__examples {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-items: center;
  }
  .women__examples li:nth-child(1),
  .women__examples li:nth-child(3),
  .men__examples li:nth-child(1),
  .men__examples li:nth-child(3) {
    grid-row: 1;
  }

  .women__examples li:nth-child(2),
  .women__examples li:nth-child(4),
  .men__examples li:nth-child(2),
  .men__examples li:nth-child(4) {
    grid-row: 2;
  }
  .women__examples li:nth-child(4),
  .men__examples li:nth-child(4) {
    transform: translateX(0);
  }

  .women__examples li:nth-child(5),
  .men__examples li:nth-child(5) {
    grid-row: 3;
    transform: translateX(-50%);
  }
}
@media (max-width: 470px) {
  .dress_content-text {
    max-width: 300px;
  }
  .women__colors,
  .men__colors {
    gap: 10px;
  }
  .img__color {
    width: 50px;
    height: 50px;
  }
  .women__examples,
  .men__examples {
    gap: 10px;
  }
  .img__women {
    max-height: 200px;
  }
  .img__men {
    max-height: 200px;
  }
}
@media (max-width: 370px) {
  .dress_content-text {
    max-width: 300px;
  }
  .women__colors,
  .men__colors {
    gap: 10px;
  }
  .img__color {
    width: 35px;
    height: 35px;
  }
  .women__examples,
  .men__examples {
    gap: 10px;
  }
  .img__women {
    max-height: 150px;
  }
  .img__men {
    max-height: 150px;
  }
}
